/* Color Theme Swatches in Hex */
.Animal-App-1-hex { color: #F299A9; }
.Animal-App-2-hex { color: #622BD9; }
.Animal-App-3-hex { color: #4886D9; }
.Animal-App-4-hex { color: #F2BD1D; }
.Animal-App-5-hex { color: #F24E29; }

/* Color Theme Swatches in RGBA */
.Animal-App-1-rgba { color: rgba(242, 152, 169, 1); }
.Animal-App-2-rgba { color: rgba(98, 43, 216, 1); }
.Animal-App-3-rgba { color: rgba(71, 134, 216, 1); }
.Animal-App-4-rgba { color: rgba(242, 188, 29, 1); }
.Animal-App-5-rgba { color: rgba(242, 78, 41, 1); }

/* Color Theme Swatches in HSLA */
.Animal-App-1-hsla { color: hsla(348, 77, 77, 1); }
.Animal-App-2-hsla { color: hsla(258, 69, 51, 1); }
.Animal-App-3-hsla { color: hsla(213, 65, 56, 1); }
.Animal-App-4-hsla { color: hsla(45, 89, 53, 1); }
.Animal-App-5-hsla { color: hsla(11, 88, 55, 1); }

/* SECOND THEME COLORS */

/* Color Theme Swatches in Hex */
.Little-Traverlers-1-hex { color: #F2295F; }
.Little-Traverlers-2-hex { color: #F22973; }
.Little-Traverlers-3-hex { color: #056CF2; }
.Little-Traverlers-4-hex { color: #0F88F2; }
.Little-Traverlers-5-hex { color: #F2C53D; }

/* Color Theme Swatches in RGBA */
.Little-Traverlers-1-rgba { color: rgba(242, 41, 94, 1); }
.Little-Traverlers-2-rgba { color: rgba(242, 41, 114, 1); }
.Little-Traverlers-3-rgba { color: rgba(4, 107, 242, 1); }
.Little-Traverlers-4-rgba { color: rgba(14, 135, 242, 1); }
.Little-Traverlers-5-rgba { color: rgba(242, 196, 60, 1); }

/* Color Theme Swatches in HSLA */
.Little-Traverlers-1-hsla { color: hsla(343, 88, 55, 1); }
.Little-Traverlers-2-hsla { color: hsla(337, 88, 55, 1); }
.Little-Traverlers-3-hsla { color: hsla(213, 96, 48, 1); }
.Little-Traverlers-4-hsla { color: hsla(208, 89, 50, 1); }
.Little-Traverlers-5-hsla { color: hsla(45, 87, 59, 1); }
